.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.shape {
  fill: #0b556a;
}
.split-horizontal {
  animation: shrink infinite 1.1s linear;
}

.vertical, .split-vertical {
  animation: shrinkHeight infinite 1.1s linear;
}


.App-link {
  color: #61dafb;
  margin: 5px;
}

@keyframes shrink {
  from {
    width: 100%;
  }
  to {
    width: 0%;
  }
}

@keyframes shrinkHeight {
  from {
    height: 100%;
  }
  to {
    height: 0%;
  }
}
